dash
dash_core_components
dash_html_components
dash_bootstrap_components
dash_daq
dash_extensions==0.0.55
plotly
numpy
pandas
git+git://github.com/equadratures/equadratures@17f15fa#egg=equadratures
requests>=2.11.1
gunicorn
func-timeout
scikit-learn
dash-interactive-graphviz
pydot
graphviz
